* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: #F0F3F8;
    color: black;
    font-size: 3rem;
}

nav {
    padding: 1rem;
    background-color: #A2C9C6;
    color: white;
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
}

a.nav {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

nav, a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

nav, img {
    width: 100%;
}

button {
    color: white;
    background-color: #A2C9C6;
    border-width: 0px;
}

.user {
    background-color: #A2C9C6;
    color: white;
    text-align: right;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: left;
    color: black;
}

h2 {
    font-weight: bold;
    margin-top: 50px;
}

h3 {
    font-weight: normal;
    margin-top: 10px;
}

p, h2, h3 {
    text-align: left;
    font-size: 35px;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.logout button {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 30px;
}

.logout button:hover {
    color: grey;
}

.login-options a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

a:hover {
    color: grey;
}

p {
    color: black;
}

.video {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.image {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
}

.smaller-image {
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 125px;
    padding-right: 125px;
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
}

h6 {
    font-weight: normal;
}

.note-new {
    background-color: #A2C9C6;
    max-width: 180px;
    margin-left: 50px;
    border-radius: 15px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.affirmation {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
    border-style: solid;
    border-left-width: 1px;
    border-color: lightgray;
    border-left-width: 10px;
    border-left-color: #A2C9C6;
    border-radius: 15px;
    background-color: #E6F2F1;
}

.note {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
    border-style: solid;
    border-left-width: 1px;
    border-color: lightgray;
    border-left-width: 10px;
    border-left-color: #A2C9C6;
    border-radius: 15px;
    background-color: white;
}

.delete a {
    color: #A2C9C6;
    font-size: 30px;
}

.login {
    margin: auto;
    text-align: left;
    margin-bottom: 30px;
}

.login button {
    background-color: #A2C9C6;
    width: 100%;
    border-radius: 15px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.login button:hover {
    color: gray;
}

.login a {
    font-size: 20px;
    color: gray;
}

.delete {
    padding-left: 50px;
    padding-top: 10px;
}

.delete button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-radius: 15px;
}

.delete button:hover {
    color: gray;
}

.timer {
    margin-left: 50px;
}

footer {
    font-size: 30px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #E6F2F1;
    color: gray;
    align-content: center;
    text-align: center;
}